{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Readings</title>
    <!-- Link to the Tailwind CSS output file -->
    <link href="{% static 'output.css' %}" rel="stylesheet">
    <!-- Link to the hashed CSS file -->
    <link href="{% static 'css/main.4d2ceb61.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-900 text-gray-100">
    <div id="root">
        <!-- React component will render here -->
    </div>
    <!-- Link to the hashed JS file -->
    <script src="{% static 'js/main.44914802.js' %}"></script>
</body>
</html>
