{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Readings</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
    <script src="{% static 'js/app.js' %}" defer></script>
</head>
<body class="bg-gray-900 text-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold text-indigo-400">Arduino Reading:</h1>
        <p id="reading" class="text-lg text-gray-300">Loading...</p>
        <p id="debug" class="text-lg text-gray-300">Loading...</p>
    </div>
</body>
</html>
